body{
    
    background-size:cover;
    height: 100%;
    background-repeat: no-repeat;

}

.parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat (3, 1fr);
    grid-gap: 0;
    height: 100vh;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/455884/cat.jpg");
    /*background-size: cover;
    background-attachment: fixed;
*/
}

.parent > div {
    padding: 1em;
    background-color: goldenrod;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: goldenrod;

}

.parent > div:hover {
    padding: 1em;
    background-color: aliceblue;
    border-radius: 50%;
    display: grid;
    place-items: center;
    opacity: 0%;


}

.gridBox{
    padding: 20em;
    
    

}